.address {
  margin-bottom: 60px;

  &__content {
    font-style: normal;
    @include font(14px, 400, 1.71, 0.03em);

    &:not(:first-child) {
      margin-top: 8px;
    }

    &:first-child {
      margin-top: 20px;
      color: map-get($colors, 'light');
    }
  }

  &__link {
    text-decoration: none;
    color: map-get($colors, 'footerContact');

    &:hover,
    &:focus {
      background-color: map-get($colors, 'link');
      transition: background-color 250ms $transitionTimingFunction;
    }
  }
}

//DESKTOP

@media screen and (min-width: $breakpointDesktop) {
  .address {
    margin-right: 70px;
    margin-bottom: 0;

    & > :nth-child(2) {
      margin-top: 20px;
    }

    &:not(:first-child) {
      margin-top: 9px;
    }
  }
}
