.examples {
  &__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__content {
    color: map-get($colors, "contact");
    @include font(14px, 400, 1.71, 0.03em);
    margin: 10px 0 0 0;
  }

  &__icon {
    background-color: map-get($colors, "team");
    border-radius: $borderRadius;
    padding: 25px 100px;
    margin-bottom: 30px;
  }
}
