.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &__section {
    background-color: map-get($colors, "background");
    background-size: cover;
    height: 252px;
    display: flex;
    align-items: center;
  }

  &__heading {
    color: map-get($colors, "light");
    margin-bottom: 20px;
  }
}
